{% extends "layout.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>The Verdict...</h1>
            <p>{{ response | safe }}</p>
            <div id="board1" style="width: 400px;"></div>
            <h2>Final position</h2>
            <script src="https://cdn.jsdelivr.net/npm/chess.js@0.10.3/chess.min.js"></script>
            <script>
                const game = new Chess();
                document.addEventListener("DOMContentLoaded", function () {
                    const pgn = "{{pgn}}";
                    //const game = new Chess();

                    const success = game.load_pgn(pgn);
                    if (!success) {
                        console.error("Invalid PGN");
                        return;
                    }

                    const finalFen = game.fen();

                    const board = Chessboard('board1', {
                        position: finalFen,
                        draggable: true,
                        pieceTheme: '/static/img/chesspieces/wikipedia/{piece}.png',
                        onDrop: function (source, target) {
                            const move = game.move({
                                from: source,
                                to: target,
                                promotion: 'q'
                            });

                            if (move === null) return 'snapback';
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}
