{% extends "layout.html" %}

{% block main %}
<div class="row">
    <div class="col">
        <h1 class="faculty">Welcome to the Analyzer!</h1>
        <form action="{{url_for('analyze')}}" method="post">
            Paste your PGN:<br>
            <input type="text" name="pgn">

        <br>

            What color did you play?<br>
            <input  type="radio" name="color" value="white">White</option><br>
            <input  type="radio" name="color" value="black">Black</option>
        <br>

            How skilled do you consider your opponent(Enter ELO):<br>
            <input type="text" name="elo">
        <br>
        <button type="submit">Submit!</button>
        </form>
    </div>
</div>
</div>
{%endblock%}