{% extends "layout.html" %}

{% block main %}
<title>
  Home
</title>
<div class="container mt-4">
  <h1 class="faculty">
    Welcome to Chessifie!
  </h1>
  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{ url_for('static', filename='home_img/chess1.jpeg') }}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ url_for('static', filename='home_img/goofyahh.jpg') }}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ url_for('static', filename='home_img/tuffsenior.jpeg') }}" alt="Third slide">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <h2>What are we?</h2>
      <p class="faculty">Welcome to your all-in-one chess playground! Create your own puzzles, play against a powerful Stockfish-based bot tailored to your skill level, analyze your moves with expert hints, and watch your personalized bot learn and improve. Whether you're solving challenges or battling the engine, this site helps you sharpen your chess skills step by step. Dive in and enjoy the game! </p>
      </div>
    </div>
  </div>


</div>
{% endblock %}