{% extends "layout.html" %}

{% block main %}
<title>
    Make your own bot
</title>
<div class="container">
    <div class="row">
        <script>
        function bar1(value) {
            var progressBar = document.getElementById('bar2');
            progressBar.style = `width: ${value}%;`;
            progressBar.setAttribute('aria-valuenow', value);
            progressBar.textContent = value + '%';
        }
    </script>



    <br>
    <div class="col">

        <form action="{{url_for('pubpuzzles')}}" method="post">
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title ubuntu-mono-regular">
                        What is your name:<br>
                    </h5>
                    <p class="card-text">
                        <input onclick=bar1(10) type="text" name="name"><br />
                </div>
            </div>

            <br>
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title ubuntu-mono-regular">
                        How old are you:</br>

                        <div id="slider"></div>
                        <p>Value:
                            <input type="text" onclick=bar1(15) id="slider-value" name="age">
                    </h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title ubuntu-mono-regular">
                        What is your favortie genre?:<br />
                        <input onclick=bar1(25) type="radio" name="personality" value="fant">Fantasies</option><br>
                        <input onclick=bar1(25) type="radio" name="personality" value="scifi">Science fiction</option>
                        <br>
                        <input onclick=bar1(25) type="radio" name="personality" value="adv">Adventure</option><br>
                        <input onclick=bar1(25) type="radio" name="personality" value="fam">Family</option><br>
                        <input onclick=bar1(25) type="radio" name="personality" value="drama">Dramas</option><br>
                        <br>
                    </h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title">
                        What is your ideal vacation?:<br>
                        <input onclick=bar1(30) type="radio" name="vacation" value="city">
                        <img id=div2 src="{{ url_for('static', filename='images/newyork.png') }}" alt="" />
                        New York City<br>
                        <input onclick=bar1(30) type="radio" name="vacation" value="town">
                        <img id=div2 src="{{ url_for('static', filename='images/suburb.png') }}" alt="" />
                        Countryside<br>
                        <input onclick=bar1(30) type="radio" name="vacation" value="beach">
                        <img id=div2 src="{{ url_for('static', filename='images/beach.png') }}" alt="" />
                        The Bahamas<br>
                        <input onclick=bar1(30) type="radio" name="vacation" value="woods">
                        <img id=div2 src="{{ url_for('static', filename='images/woods.png') }}" alt="" />
                        A camping trip<br>
                        <br>
                    </h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title">
                        What best describes you:<br>
                        <input onclick=bar1(40) type="radio" name="traits" value="b">Brave<br>
                        <input onclick=bar1(40) type="radio" name="traits" value="l">Loyal<br>
                        <input onclick=bar1(40) type="radio" name="traits" value="c">Sophisticated<br>
                        <input onclick=bar1(40) type="radio" name="traits" value="k">Kind<br>
                        <input onclick=bar1(40) type="radio" name="traits" value="s">Sad<br>
                        <br>
                    </h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title">
                        How do you like spending your free time:<br>
                        <input onclick=bar1(50) type="radio" name="time" value="volunteering">Helping other people<br>
                        <input onclick=bar1(50) type="radio" name="time" value="loved">Time with loved ones<br>
                        <input onclick=bar1(50) type="radio" name="time" value="hobbies">Doing things you love<br>
                        <input onclick=bar1(50) type="radio" name="time" value="party">Partying<br>
                        <br>
                    </h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title ubuntu-mono-regular">
                        What is your favorite type of food:<br />
                        <input onclick=bar1(60) type="radio" name="food" value="exotic">Exotic cuisines<br />
                        <input onclick=bar1(60) type="radio" name="food" value="comfort">Comfort food<br />
                        <input onclick=bar1(60) type="radio" name="food" value="gourmet">Gourmet food<br />
                        <input onclick=bar1(60) type="radio" name="food" value="healthy">Healthy Greens<br />
                        <br>
                    </h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title ubuntu-mono-regular">
                        How do you react in crisis:<br />
                        <input onclick=bar1(65) type="radio" name="leader" value="alpha">Take charge<br />
                        <input onclick=bar1(65) type="radio" name="leader" value="thinker">Stay calm and find a
                        solution<br />
                        <input onclick=bar1(65) type="radio" name="leader" value="solver">Panic<br />
                        <input onclick=bar1(65) type="radio" name="leader" value="help">Offer support and comfort to
                        others<br />
                        <br>
                    </h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title ubuntu-mono-regular">
                        Favorite music:</br>
                        <input onclick=bar1(70) type="radio" name="muisc" value="rap">Rap/Hiphop<br />
                        <input onclick=bar1(70) type="radio" name="music" value="jazz">Jazz<br />
                        <input onclick=bar1(70) type="radio" name="music" value="pop">Pop<br />
                        <input onclick=bar1(70) type="radio" name="music" value="class">Classical<br />
                    </h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title ubuntu-mono-regular">
                        How do you unwind after a long day(choose all that apply):<br />
                        <input onclick=bar1(80) type="checkbox" name="unwind" value="zzz">Sleep<br />
                        <input onclick=bar1(80) type="checkbox" name="unwind" value="book">Reading a book<br />
                        <input onclick=bar1(80) type="checkbox" name="unwind" value="music">Music<br />
                        <input onclick=bar1(80) type="checkbox" name="unwind" value="walk">Taking a walk<br />
                    </h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body card-color">
                    <h5 class="card-title ubuntu-mono-regular">
                        Favorite sport:</br>
                        <input onclick=bar1(100) type="radio" name="sport" value="TF">Track and Field<br />
                        <input onclick=bar1(100) type="radio" name="sport" value="Swim">Swimming<br />
                        <input onclick=bar1(100) type="radio" name="sport" value="Bball">Basketball<br />
                        <input onclick=bar1(100) type="radio" name="sport" value="Football">Football<br />
                    </h5>
                </div>
            </div>
            <br>




            <button type="submit">Submit</button>


        </form>
        </div>
</div>
{% endblock %}